.headerBackground {
  z-index: 2;
  height: 350px;
  border-style: none;
  border-color: transparent;
  background: #7f7f7f url("https://www.tudj.com.ar/images/introdj.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 1024px) {
  .headerBackground {
    height: 652px;
  }
}
